.flexbox1,
.flexbox2,
.flexbox3{
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-decoration:none;
}

.flexbox1 li,
.flexbox2 li,
.flexbox3 li{
    list-style:none;
    text-transform:uppercase;
    font-size:30px;
    height:auto;
    width:70%;
    background:gold;
    border:2px solid black;
    border-radius:40px;
    padding:0px;
    margin:0px;
    
    

    }
.flexbox1 a,
.flexbox2 a,
.flexbox3 a{
   text-decoration:none ;
}
body{background:url(Picture/image2.jpg) center/cover; 
min-height:100vh;}  
h1{font-size:70px;
color:auto;
    
} 

#inscription {
    display: grid;
    grid-template-columns:40% 60%;
    margin:auto;
    height: 850px;
    background:whitesmoke;
    position: relative;
}
#username1,
#password1 {
    height: 50px;;
    width:50%;
    border-radius: 80px;
    font-size: 30px;
   
}

.inscription-contain{
    width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr;
    grid-template-areas: "i1 i2"
    "i3 i4"
    "i5 i6";
}



.Nom{
    display: grid;
    grid-area:i1 ;
}
#Nom{
    display: grid;
    grid-area:i1 ;
}
.Prenom{
    display: grid;
    grid-area:i3 ;
}
#Prenom{
    display: grid;
    grid-area:i2 ;
}
.Date{
    display: grid;
    grid-area:i5 ;
}
#Date{
    display: grid;
    grid-area:i3 ;
}
.s1{
    height: 50px;
    width: 50%;
    border-radius: 80px;
    font-size: 30px;
    padding-left :30px;
    transition: 2s;
}
.s1:hover{
    background: black;
    color:white;
}

#s11,#s12,#s13{
    font-size: 20px;
    margin:10px;
}
.Nom,
.Prenom,
.Date,
.password,
.Cpassword{
    font-size:30px;
}
#Nom,
#Prenom,
#Date,
#btn1,
.who-are-you label,
#password,
#Cpassword{
font-size: 30px;
}

#Nom,
#Prenom,
#Date,
#btn1,
#password,
#Cpassword{
    border-radius:80px;
    transition: 2s;
}
#qui{
    font-size:25px;
    font-weight: bold;
}
#btn1{
background:rgb(23, 144, 114) ;
transition: 2s;
cursor:pointer;
}
#btn1:hover{
animation:neon-pulse;
background:url(Picture/image5.jpg) center/cover;
color:beige;

}
#Nom:hover,
#Prenom:hover,
#Date:hover,
#btn1:hover,
#password:hover,
#Cpassword:hover{
    background: black;
    color: white;
}

#h,
#d,
#c{
    font-size: 20px;
}
.sexe{
    font-size: 30px;
}

.espacephoto{
   background: url(Picture/image12.jpg) center/cover;
    border:2px solid rgba(55, 13, 66, 0.847);
    border-radius: 400px;
    width:auto;
    height: 10px;
    margin:30px 30px 30px 30px;
    padding:300px 20px 20px 20px;
}

#video1{
    height: 200px;
    width: 40%;
    border-radius: 180px;
    background: white;
    display:;
}

@media screen and (max-width: 600px)
{
  body{
    background: red;
  }  
  #inscription{
    display: block;
    grid-template-columns:1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    
}
.espacephoto{
    height:0%;
    padding: auto;
    width: 200px;
    margin: auto;
    border-radius:400px ;
}
}